/**
 *
 * Header
 *
 *
 */

.header {
  clear: both;
  padding: 13px 0 15px;
  width: 100%;
  overflow: auto;
  color: $colorGray;
}

.headerLogo {
  float: left;
  width: 168px;
  height: 72px;
  overflow: visible;
  background: url(./img/sassme-logo.svg) 0 0 no-repeat;
  text-indent: -9999px;
  margin: 0;

  @media screen and (max-width: 565px) {
    float: none;
    margin: 0 auto;
  }
}

.headerTagline {
  padding-top: 22px;
  position: relative;
  max-width: 500px;
  margin-left: 190px;

  @media screen and (max-width: 565px) {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }
}

.headerTaglin p {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  line-height: 1.3em;

  @media screen and (max-width: 565px) {
    font-size: 0.75em;
    line-height: 1.1em;
  }
}
