/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 *
 * Header
 *
 *
 */
.header {
  clear: both;
  padding: 13px 0 15px;
  width: 100%;
  overflow: auto;
  color: #808C99; }

.headerLogo {
  float: left;
  width: 168px;
  height: 72px;
  overflow: visible;
  background: url(./img/sassme-logo.svg) 0 0 no-repeat;
  text-indent: -999px; }

.headerTagline {
  padding-top: 22px;
  position: relative;
  max-width: 450px;
  margin-left: 190px; }
  @media screen and (max-width: 565px) {
    .headerTagline {
      width: 100px; } }

.headerTaglin p {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  line-height: 1.3em; }
  @media screen and (max-width: 565px) {
    .headerTaglin p {
      font-size: 0.75em;
      line-height: 1.1em; } }

/**
 *
 * Sass Tests
 * Using the data object defined in the <SassTest /> component, we will
 * output a class for each that will display Sass's calculated version of each
 * hex color. This allows us to easily compare, in the browser, how the JS
 * transformed the HEX color vs. how Sass transformed it.
 *
 */
#sassTests {
  padding: 20px;
  font-size: 14px;
  /**
   * hex: '019283'
   * lighten: 12
   * saturate: 15
   * adjust_hue: 300
   */
  /**
   * hex: '482934',
   * saturate: 52,
   * adjust_hue: 345
   */ }
  #sassTests:before {
    content: 'Color Function Tests (For Development Only)';
    text-align: center;
    display: block;
    background: #D2E1DD;
    margin: -20px;
    margin-bottom: 15px;
    padding: 6px; }
  #sassTests table {
    width: 100%;
    text-align: left; }
    #sassTests table th {
      font-weight: bold; }
    #sassTests table tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.075); }
    #sassTests table tbody tr:last-child {
      border: 0; }
    #sassTests table td, #sassTests table th {
      padding: 7px 0; }
  #sassTests .test-019283:before {
    content: "#16d000"; }
  #sassTests .test-482934:before {
    content: "#650c42"; }

/**
 * Page & Structural Styles
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0 20px;
  margin: 0;
  font: 16px/1.4em 'Droid Sans', Arial, sans-serif;
  color: #333;
  background: #eeeeee url(./img/background.png);
  background-size: 400px 300px; }
  @media screen and (max-width: 565px) {
    body {
      padding: 0; } }

.wrapper {
  max-width: 850px;
  margin: 0 auto; }

.card {
  clear: both;
  background: #fff;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.07), 0 5px 15px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.03);
  border-radius: 10px; }
  @media screen and (max-width: 565px) {
    .card {
      padding: 0; } }

a,
a:link,
a:visited {
  color: #CC6699;
  text-decoration: none; }

a:hover {
  color: #bf4080;
  text-decoration: underline; }

/**
 * Form and Input Elements
 */
.fakeSlider {
  margin: 0 auto;
  width: 80%; }

.ui-slider {
  position: relative; }

.ui-widget-content {
  border-top: 2px solid #C5C5C5;
  border-bottom: 2px solid #C5C5C5;
  height: 0px; }

.ui-slider-handle {
  background: transparent url(./img/range-handle@2x.png) no-repeat;
  background-size: 20px 20px;
  position: absolute;
  z-index: 10;
  bottom: -9px;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  margin-left: -1%;
  cursor: pointer;
  outline: none; }

input[type='range'] {
  -webkit-appearance: none;
  background-color: #ddd;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  height: 8px;
  border-radius: 6px; }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 100;
  position: relative;
  top: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: transparent url(./img/range-handle@2x.png) no-repeat;
  background-size: 20px 20px; }

/* LIST ITEMS
 Styles for each <li> item
*/
.listItem {
  text-align: center;
  position: relative;
  opacity: 1;
  transition: .5s all ease; }
  .inactive .listItem {
    opacity: .15; }
  .listItem.slider {
    margin: 25px 0; }
    .listItem.slider input[type='range'] {
      display: block;
      width: 80%;
      margin: 0 auto; }
    .listItem.slider a {
      position: absolute;
      right: 3%;
      top: -7px;
      font-size: 0.625em;
      color: #CC6699; }

/* SWATCHES
 Styles for the main content swatches
*/
#colorIn {
  width: 48%;
  opacity: 1; }

#colorOut {
  width: 52%; }

.swatch {
  color: #fff;
  float: left;
  position: relative; }

.swatchLabel {
  position: absolute;
  width: 100%;
  display: none;
  padding: 20px 0;
  color: #777777;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 0.625em; }
  .active .swatchLabel {
    display: block; }

.swatchColor {
  height: 300px;
  line-height: 300px;
  width: 100%;
  font-size: 1.125em;
  font-family: 'Droid Sans Mono', Courier, monospace; }

.swatchColorValue {
  position: relative;
  width: 130px;
  margin: 0 auto; }

.swatchColorPointer {
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 40px solid transparent;
  position: absolute;
  z-index: 10;
  top: 0px;
  right: -40px; }

label[for*='hexColor'] {
  display: block;
  text-transform: uppercase;
  letter-spacing: .15em;
  position: absolute;
  padding: 0 0 0 1.3em;
  z-index: 501; }

label[for='hexColorIn'] {
  color: rgba(0, 0, 0, 0.325); }

label[for='hexColorOut'] {
  color: rgba(255, 255, 255, 0.325); }

input[name*="hexColor"] {
  border: 0;
  border-radius: 3px;
  padding-left: 2em;
  font-size: 1em;
  height: 44px;
  width: 100%;
  font-family: 'Droid Sans Mono', Courier, monospace;
  position: relative;
  z-index: 500;
  text-transform: uppercase; }
  input[name*="hexColor"]:focus {
    outline: none; }

input[name='hexColorIn'] {
  border: 1px solid #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.075); }
  input[name='hexColorIn']:focus {
    border: 1px solid #CC6699;
    box-shadow: 0 0 8px rgba(204, 102, 153, 0.6); }

input[name='hexColorOut'] {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer; }

.swatchContainer #colorOutput {
  opacity: 1;
  width: 130px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border: 0px solid #000;
  color: #fff;
  position: relative;
  z-index: 500;
  border-radius: 3px;
  box-shadow: inset black 0 0 4px; }

/* INDIVIDUAL ELEMENTS
 Styles for individual elements on the page
*/
.codeOutput {
  clear: both;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .codeOutput input {
    font-family: 'Droid Sans Mono', Courier, monospace;
    padding: 14px 0;
    margin: 0;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: center;
    border: none; }
    .codeOutput input::placeholder {
      font-family: 'Droid Sans', Arial, sans-serif;
      color: #CC6699; }
    .codeOutput input:hover {
      color: #CC6699; }

.sliderLabel {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 10px;
  display: block; }
  .sliderLabel[for='sliderAdjustHue'] {
    text-align: center; }
    .sliderLabel[for='sliderAdjustHue']:before {
      content: '\2190';
      margin-right: 5px; }
    .sliderLabel[for='sliderAdjustHue']:after {
      content: '\2192';
      margin-left: 5px; }
  .sliderLabel[for='sliderLighten'] span:first-child, .sliderLabel[for='sliderSaturate'] span:first-child {
    float: left;
    width: 50%;
    padding-right: 15px;
    text-align: right;
    border-right: 1px solid rgba(0, 0, 0, 0.5); }
    .sliderLabel[for='sliderLighten'] span:first-child:before, .sliderLabel[for='sliderSaturate'] span:first-child:before {
      content: '\2190';
      margin-right: 5px; }
  .sliderLabel[for='sliderLighten'] span:last-child, .sliderLabel[for='sliderSaturate'] span:last-child {
    float: right;
    width: 50%;
    padding-left: 15px;
    text-align: left; }
    .sliderLabel[for='sliderLighten'] span:last-child:after, .sliderLabel[for='sliderSaturate'] span:last-child:after {
      content: '\2192';
      margin-left: 5px; }

.initialHelp {
  opacity: 1;
  font-family: "Droid Sans", Helvetica, Arial;
  position: absolute;
  left: 45%;
  top: 40%;
  color: #777777;
  font-size: 0.875em;
  line-height: 4em;
  width: 400px;
  color: #CC6699;
  z-index: 400; }
